extends tex

# -----------------------------------------------------------------------------
# MARKDOWN SNIPPETS
# -----------------------------------------------------------------------------

snippet []() "Link" A
[$1]($0)
endsnippet
