extends R, markdown

# -----------------------------------------------------------------------------
# RMARKDOWN SNIPPETS
# -----------------------------------------------------------------------------

# open code cell
snippet oR "R code cell" bA
\`\`\`{r}
$0
\`\`\`
endsnippet
